<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-11">
            <input #searchInput type="text" class="form-control" placeholder="Filtrar por el nombre..."
              (keyup)="filter(searchInput.value)">
          </div>
          <div class="col-1">
            <button class="btn btn-info" (click)="cleanSearch()">Limpiar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="loading" class="row animated fadeIn fast">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor, espere</p>
    </div>
  </div>
</div>

<div *ngIf="!loading" class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <div class="row">
          <div class="col-6">
            <h4 class="card-title">Médicos</h4>
            <h6 class="card-subtitle">Listado de médicos</h6>
          </div>

          <div class="col-6">
            <div class="mb-3 text-right">
              <button class="btn btn-info" [routerLink]="'../medico/nuevo'">
                <i class="fa fa-user-md"></i> Crear médico
              </button>
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0"
            width="100%">
            <thead>
              <tr>
                <th class="text-center w100">Foto</th>
                <th class="w400">Nombre</th>
                <th class="w420">Hospital</th>
                <th class="w100">Creador</th>
                <th class="text-center w100">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let medic of medicsList">
                <td class="text-center">
                  <img src="{{ medic | imageRoute:type}}" alt="'Imagen de médico" class="img-table-avatar cursor"
                    (click)="openImageModal(medic)">
                </td>
                <td>{{ medic.nombre }} {{ medic.apellidos }}</td>
                <td>{{ medic.hospital.nombre }}</td>
                <td>{{ medic.creator.nombre }}</td>

                <td class="text-nowrap">
                  <a data-toggle="tooltip" data-original-title="Editar" [routerLink]="['../medico', medic.uid]" >
                    <i class="fa fa-pencil text-inverse m-r-10 cursor"></i>
                  </a>
                  <a data-toggle="tooltip" data-original-title="Borrar" (click)="deleteMedic(medic)">
                    <i class="fa fa-close text-danger cursor"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div>
          <button class="btn btn-secondary" (click)="changeValues(-5)"
            [disabled]="actualSize === size || total === 0"><i class="mdi mdi-chevron-left"></i></button>
          <span class="m-l-5 m-r-5 showing-values">{{ actualSize }}/{{ total }}</span>
          <button class="btn btn-secondary" (click)="changeValues(5)" [disabled]="actualSize === total"><i
              class="mdi mdi-chevron-right"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
